Project1-ExploreVis/JessieGong/Medicare_Provider_Charge_Inpatient*
Project1-ExploreVis/TomHunter/311_Service_Requests_from_2010_to_Present.csv
Project1-ExploreVis/TomHunter/Heat\ Seek\ NYC\ data\ 6-15\ to\ 6-16.csv
Project1-ExploreVis/TomHunter/Heat\ Seek\ NYC\ data\ 6-16\ to\ 6-17.csv

*.swp
*.cache/
*.Rhistory

*.ipynb_checkpoints/
*.Rapp.history
*.DS_Store
