[submodule "DodgeCoates"]
	path = DodgeCoates
	url = https://www.github.com/dwcoates/craigs-politics
[submodule "Project2-WebScraping/DodgeCoates"]
	path = Project2-WebScraping/DodgeCoates
	url = git@github.com:dwcoates/craigs-politics.git
[submodule "Project1-ExploreVis/williambest_p1"]
	path = Project1-ExploreVis/williambest_p1
	url = https://github.com/Billtholomew/NYCDSA-ShinyProject.git
[submodule "Project2-WebScraping/williambest_p2"]
	path = Project2-WebScraping/williambest_p2
	url = https://github.com/Billtholomew/NYCDSA-WebScraper.git
[submodule "Project3-MachineLearning/PowerChromeAmazing"]
	path = Project3-MachineLearning/PowerChromeAmazing
	url = https://github.com/Billtholomew/NYCDSA-MachineLearning.git
