.info{display:none;}

.user-panel>.image>img {
    width: 100%;
    max-width: 175px;
    height: auto;
    margin:5px 5px 5px 10px;
}

div#range {
    text-align: center;
}
div#year {
    text-align: center;
}

.content-wrapper, .right-side {
    background-color: rgb(255, 255, 255);
}

.box {
    border: 1px solid lightgrey; 
    box-shadow:none; 
}

.h1, .h2, h1, h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 16px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    margin-left: 16px;
    font-weight: 400;
    cursor: pointer;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    margin-left: 1px;
    font-weight: 700;
}

img {
    width: 900px;
    border: 0;
}
